section.copyright
  a(href='https://hexo.io/') &nbsp;Hexo
  | &nbsp;with
  a(href='https://github.com/sjaakvandenberg/flexy') &nbsp;Flexy theme
  | &nbsp;&middot; Hosted on
  a(href='https://gitlab.com/') &nbsp;GitLab
