---
layout: page
title: Home
---
<head>
	<meta name="google-site-verification" content="yYWD7uUfwd7nub3F_v99HtY644NTcW1HjyYlpmaieKk" />
</head>
{% include nav-en.html %}

<!-- <section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% include pagination.html%}
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% if post.lang == 'en' %}
						{% include blog-post.html %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section> -->

