{% if page.title == "Home"
   <!-- or page.title == "Blog" -->
%}
{% assign showHeader = true %}{% endif %}
{% if page.title == "Blog" %}
{% assign showHeader = false %}{% endif %}
{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% if page.lang == 'en' %}
    {% include nav-en.html %}
{% endif %}
{% if page.lang == 'tr' %}      
    {% include nav.html %}
{% endif %}


