
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% assign text_tr='makalenin Türkçe versiyonu için tıklayınız' %}
    {% assign text_en='click for the English version of the article' %}

    {% for post in posts %}
    {% if post.cat == page.cat %}
        {% if post.lang != page.lang %}
                <a href="{{ post.url }}" class="{{ post.lang }}">
                    {% if post.lang =='tr' %}
                        {{ text_tr }}
                    {% else %}
                        {{ text_en }}
                    {% endif %}
                </a>
           
            
         {% endif %}
      {% endif %}
    {% endfor %}
